.main-container {
  width: 100%;
  height: calc(100% - 70px);
  position: relative;
  background-color: white;
  overflow-y: auto;
}

.main-navbar {
  background-color: #ffe660;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 0 0 20px 20px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.main-profile-box {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  background-color: rgb(255, 249, 215);
  padding: 0 10px;
  margin: 1vh 5vw;
  display: flex;
  justify-content: space-between;
}

.main-profile-pic {
  width: 30%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media (max-width: 700px) {
    width: 40%;
  }
  @media (max-width: 600px) {
    width: 50%;
  }
}

.main-profile-icon {
  width: 25%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  z-index: 1;
}

.main-profile-icon img {
  width: 100%;
}

.main-profile-icon p {
  color: rgb(255, 238, 148);
  font-size: 1rem;
  width: fit-content;
}

.main-profile-img {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.main-profile-img img {
  border: 3px solid rgb(251, 197, 93);
  border-radius: 100%;
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1/1;
}

.main-profile-dc {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-profile-dc p {
  width: fit-content;
  background-color: rgb(80, 17, 215);
  color: white;
  border-radius: 3px;
  font-size: 0.8rem;
  padding: 0.3rem 1.2rem;
}

.main-profile-dc h4 {
  font-family: 'Jua';
  font-weight: 400;
  font-size: 1.6rem;
  color: #746745;
  margin: 1rem 0;

  @media (max-height: 700px) {
    margin: 1vh 0;
  }
}

.main-profile-dc h6 {
  font-size: 0.8rem;
}

.main-profile-link {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0.8rem;
  font-size: 0.8rem;
}

.main-profile-link h4 {
  cursor: pointer;
  padding: 0.3rem 1rem;
  background-color: white;
  border: 1.5px solid black;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.main-profile-link h4:hover {
  background-color: #ffe660;
}

.main-profile-link_fold {
  width: 35px;
  height: 15px;
  cursor: pointer;
  background-color: #ffe660;
  position: absolute;
  bottom: -14px;
  left: 50%;
  z-index: 500;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 0 0 12px 12px;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
}

.main-profile-link_fold p {
  transform: rotate(90deg);
  font-weight: 900;
  font-family: 'Jua';
}

.main-tutorial-button {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 3vh 5% 1vh 5%;
  color: rgb(0, 10, 255);
}

.main-tutorial-button p {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 0 2px;
  font-family: 'GmarketSansMedium';
  font-size: 1rem;
}

.main-topic {
  height: fit-content;
  background-color: rgb(255, 253, 243);
  border: 2px solid rgb(255, 247, 207);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5% 10vh 5%;

  @media (max-height: 700px) {
    margin-bottom: 80px;
  }
}

.main-topic-title {
  width: 100%;
  padding: 2vh 2.5% 2vh 2.5%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-topic-title img {
  width: 5.5rem;
  margin-right: 6%;
}

.main-topic-title h4 {
  font-size: 1.7rem;
  font-weight: 600;
  color: rgb(116, 103, 69);
  position: relative;
  top: 1rem;
}

.main-topic-box {
  width: 90%;
  text-align: center;
  margin: 2vh 5% 2vh 5%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 9px solid rgb(255, 238, 148);
  border-radius: 10px;
  position: relative;
  height: 190px;

  @media (max-width: 600px) {
    height: 170px;
  }
  @media (max-width: 500px) {
    height: 150px;
  }
  @media (max-width: 500px) {
    height: 130px;
  }
}

.main-topic-box-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: cover;
}

.main-topic-box h4 {
  position: relative;
  z-index: 1;
  font-size: 2.5rem;
  color: white;
  text-shadow: 4px 4px 4.9px rgba(0, 0, 0, 0.5);
  background-color: rgb(255, 255, 255, 0.1);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease;

  @media (max-width: 600px) {
    font-size: 2.2rem;
  }
  @media (max-width: 500px) {
    font-size: 2rem;
  }
  @media (max-width: 500px) {
    font-size: 1.8rem;
  }
}

.main-topic-box h4:hover {
  background-color: transparent;
}

/* 튜토리얼용 */

@keyframes chatFlash {
  0% {
    border-color: rgb(255, 238, 148);
  }
  50% {
    border-color: rgb(0, 10, 255);
  }
  100% {
    border-color: rgb(255, 238, 148);
  }
}

.tutorial-chat-box {
  animation: chatFlash 1s infinite;
}

.tutorialModal {
  width: 100%;
  max-width: 800px;
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border: 5px solid rgb(0, 10, 255);
  border-radius: 20px;
  padding: 1%;
  text-align: center;
}

.main-modal {
  bottom: 0;
}

.tutorialModal img {
  width: 15%;
}

.tutorialModal h4 {
  font-size: 1.7rem;
  @media (max-width: 500px) {
    font-size: 1.4rem;
  }
}

.tutorialModal p {
  font-family: "Jua";
  font-weight: 200;
  cursor: pointer;
  align-self: flex-end;
  text-decoration: underline;
  width: 5rem;
}
