.mypage-container {
  width: 100%;
  height: calc(100% - 70px);
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
}

.mypage-navbar .top-container {
  height: 500px;
  background: linear-gradient(to bottom, #ffe660 50%, #fff6a6);

  @media (max-height: 700px), (max-width: 700px) {
    height: 63vh;
  }
}

.mypage-navbar .top-logo,
.mypage-navbar .top-circle-container {
  display: none;
}

.mypage-profile-box {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  width: 50%;
  height: auto;
  border-radius: 20px;
  background-color: rgb(255, 249, 215);
  padding: 0 10px;
  margin-top: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 700px) {
    width: 60%;
  }
  
  @media (max-width: 700px) {
    @media (min-height: 900px) {
      margin-top: 5vh;
    }
  
    @media (min-height: 1000px) {
      margin-top: 8vh;
    }
  
    @media (min-height: 1200px) {
      margin-top: 12vh;
    }
  }


}

.mypage-profile-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 0.7rem;
}

.mypage-profile-top img {
  width: 30px;
  transform: scale(1, -1);
}

.mypage-profile-top p {
  width: fit-content;
  background-color: rgb(80, 17, 215);
  color: white;
  border-radius: 3px;
  font-size: 0.8rem;
  padding: 0.3rem 1.2rem;
}

.mypage-profile-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 2rem;
}

.mypage-profile-img img {
  cursor: pointer;
  border: 3px solid rgb(251, 197, 93);
  border-radius: 100%;
  object-fit: cover;
  width: 80px;
  aspect-ratio: 1/1;
  transform: scale(1.2);

  @media (max-height: 700px), (max-width: 700px) {
    width: 10vh;
  }
}

.mypage-profile-name {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  position: relative;
  bottom: 1rem;
}

.mypage-profile-name h4 {
  font-weight: 400;
  font-family: 'Jua';
  font-size: 1.5rem;
  color: #746745;

  @media (max-height: 700px), (max-width: 700px) {
    font-size: 13px;
  }
}

.mypage-profile-dc {
  width: 100%;
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: row;
  justify-content: center;

}

.mypage-dcbox {
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #776bff, #bcb7ff);
  border-radius: 10px;
  width: 18%;
  padding: 10px 5px;
  text-align: center;

  @media (max-width: 500px) {
    width: 25%;
  }
}

.mypage-dcbox p {
  font-family: 'Jua';
  font-weight: 400;
  font-size: 1rem;
  line-height: 25px;
  color: white;

  @media (max-height: 700px) {
    font-size: 1rem;
    line-height: 1.5;
  }
}

.mypage-picture-container {
  width: 100%;
  height: 100%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: fixed;
  top: 0;
  z-index: 1000;
}


.mypage-picture-setting {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 1% 3%;
  border-radius: 10px;
  font-family: 'Jua';
  font-size: 1.7rem;
  background-color: #ffe877;
  color: #746745;
}

.mypage-picture-setting h4 {
  font-weight: 400;
  margin-bottom: 3%;
}

.mypage-picture-setting-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  line-height: 2;

  & svg {
    position: relative;
    bottom: 2.5px;
  }
}

.mypage-picture-setting-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mypage-picture-setting-list h4 {
  cursor: pointer;
  width: 95%;
  background-color: #ffe877;
  padding: 1.5% 0 1.5% 3%;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #fff6c9;
  }
}

.mypage-picture-setting-close {
  cursor: pointer;
  width: fit-content;
  align-self: flex-end;
  margin: 1% 0;
  padding: 1% 3%;
  border: 2px solid #746745;
  border-radius: 10px;

  &:hover {
    background-color: #fff6c9;
  }
}

.mypage-feedback-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vh;
}

.mypage-feedback-top {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #746745;
  background-color: #fffdf3;
}

.mypage-feedback-top p {
  font-family: 'GmarketSansMedium';
  font-size: 1rem;
  color: #746745;
  margin-left: 1rem;
}

.mypage-feedback-top img {
  cursor: pointer;
  width: 1.7rem;
  margin: 0.7rem 1rem;
  opacity: 0.6;
}

.mypage-feedback-top img:hover {
  opacity: 1;
}

.mypage-feedback-box {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #746745;
  border-top: none;
  background-color: #fffef3;
  padding: 10px 0;
}

.mypage-feedback-topic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 30vw;
}

.mypage-feedback-topic img {
  border-radius: 10px;
  position: absolute;
  width: 90%;
  height: 100%;
  z-index: 0;
  object-fit: cover;
  opacity: 0.75;
}

.mypage-feedback-topic h4 {
  position: relative;
  z-index: 1;
  font-size: 3.5vh;
  line-height: 1.2;
  color: white;
  background-color: transparent;
  margin: 5.5vh 0;
}

.mypage-feedback-topic-long {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 3.4vh 0;
}

.mypage-feedback-topic-long h4 {
  margin: 0;
}
