body,
html {
  margin: 0;
  padding: 0;
  font-family: 'NEXON Lv2 Gothic', sans-serif;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#ffee94, white);
  position: relative;
  @media (max-width: 800px) {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  @media (max-width: 700px) {
    font-size: 15px;
  }
  @media (max-width: 600px) {
    font-size: 14px;
  }
  @media (max-width: 500px) {
    font-size: 13px;
  }
  @media (max-width: 400px) {
    font-size: 12px;
  }
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#portal-root {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  word-break: keep-all;
  line-height: 1.3;
}

div,
nav,
input,
textarea {
  box-sizing: border-box;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

.main-container,
.question-container,
.mypage-container,
.feedback-container,
.feedbackquestion-container .feedbackresult-container,
.PatternResult-container {
  &::-webkit-scrollbar {
    display: none;
  }
}

.background-circle-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
  z-index: 1;
  overflow: hidden;
}

.background-circle-container .circle.big:nth-child(1) {
  width: 150px;
  opacity: 0.6;
  grid-column: 2 / span 4;
  grid-row: 3 / span 4;
}

.background-circle-container .circle.big:nth-child(2) {
  width: 100px;
  opacity: 0.6;
  grid-column: 3 / span 4;
  grid-row: 12 / span 4;
}

.background-circle-container .circle.big:nth-child(3) {
  width: 90px;
  opacity: 0.6;
  grid-column: 15 / span 4;
  grid-row: 5 / span 4;
}

.background-circle-container .circle.big:nth-child(4) {
  width: 140px;
  opacity: 0.6;
  grid-column: 17 / span 4;
  grid-row: 14 / span 4;
}

.background-circle-container .circle.big:nth-child(5) {
  width: 100px;
  opacity: 0.6;
  grid-column: 5 / span 4;
  grid-row: 8 / span 4;
}

.background-circle-container .circle.big:nth-child(6) {
  opacity: 0.6;
  grid-column: 13 / span 4;
  grid-row: 11 / span 4;
}

.background-circle-container .circle.small:nth-child(7) {
  grid-column: 2 / span 4;
  grid-row: 9 / span 4;
}

.background-circle-container .circle.small:nth-child(8) {
  grid-column: 6 / span 4;
  grid-row: 13 / span 4;
}

.background-circle-container .circle.small:nth-child(9) {
  grid-column: 17 / span 4;
  grid-row: 3 / span 4;
}

.background-circle-container .circle.small:nth-child(10) {
  grid-column: 15 / span 4;
  grid-row: 9 / span 4;
}

@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@font-face {
  font-family: 'NEXON Lv2 Gothic';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
